@keyframes gradientBG {
  0% {
    background: linear-gradient(to top, #1a1a1a, #4e4e4e);
  }
  50% {
    background: linear-gradient(to top, #4e4e4e, #333333);
  }
  100% {
    background: linear-gradient(to top, #1a1a1a, #4e4e4e);
  }
}
