/* Qualification Glow Card Border */
.qualification-glow-box {
  position: relative;
  background: linear-gradient(45deg, #ff7a01, #00c6ff, #ff7a01);
  padding: 1px;
  border-radius: 0.75rem;
  overflow: hidden;
}

.qualification-glow-box > div {
  background-color: #000;
  border-radius: 0.75rem;
}
