.spectacledcoder-gradient-card1 {
  display: flex;

  background: linear-gradient(
    var(--gradient-angle),
    rgb(104, 3, 255),
    rgb(0, 0, 0)
  );
  animation: rotation 5s linear infinite;
  backdrop-filter: blur(50px);
  /* border-radius: 5px; */
}

.spectacledcoder-gradient-card2 {
  display: flex;

  background: linear-gradient(
    var(--gradient-angle),
    rgb(3, 133, 255),
    rgb(0, 0, 0)
  );
  animation: rotation 5s linear infinite;
  backdrop-filter: blur(50px);
}

.spectacledcoder-gradient-card3 {
  display: flex;

  background: linear-gradient(
    var(--gradient-angle),
    rgb(205, 3, 255),
    rgb(0, 0, 0)
  );
  animation: rotation 5s linear infinite;
  backdrop-filter: blur(50px);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
