.glow-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  border-radius: 1.5rem;
  padding: 1px;
}

.glow-box::before,
.glow-box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 1.5rem;
}

.glow-box::after {
  filter: blur(40px);
  z-index: -2;
}

.glow-1::before,
.glow-1::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
  animation: anim 2s linear infinite;
}

.glow-2::before,
.glow-2::after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.glow-3::before,
.glow-3::after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.glow-4::before,
.glow-4::after {
  background: linear-gradient(235deg, #00ffc6, #010615, #ff7300);
}

@keyframes anim {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.card-inner {
  border-radius: 1.5rem;
  padding: 1rem;
  z-index: 1;
  position: relative;
}

.gradient-bg-bw-rl {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gradient-bg-bw-lr {
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* .card-inner {
  border-radius: 1.5rem;
  padding: 0;
  z-index: 1;
  position: relative;
}


.glow-border-purple,
.glow-border-green,
.glow-border-pink {
  padding: 2px; 
  border-radius: 1.5rem;
  position: relative;
  z-index: 0;
}


.glow-border-purple::before,
.glow-border-green::before,
.glow-border-pink::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  padding: 1.5px;
  z-index: -1;
  background-clip: padding-box;
  animation: pulse 2s infinite;
}


.glow-border-purple::before {
  background: rgba(219, 52, 242, 0.9);
 

  box-shadow: 0px 0px 8px 1px rgba(219, 52, 242, 0.9);
}


.glow-border-green::before {
  background: var(--green-default-dark);
  box-shadow: 0 0 12px 3px rgba(0, 255, 150, 0.6);
}


.glow-border-pink::before {
  background: var(--pink-default-dark);
  box-shadow: 0 0 12px 3px rgba(255, 0, 150, 0.6);
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 18px 6px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.1);
  }
} */
